@value colors: "../colors.module.css";
@value atmaBlue, borderGray, atmaYellow from colors;

.row {
  height: 100vh;
}

.loginForm {
  width: 480px;
  padding: 40px 40px 20px 40px;
  border-radius: 6px;
  border: 1px solid #eee;
}

.logoImg {
  height: 64px;
  margin-right: 32px;
}

.alertBox {
  margin-bottom: 16px;
}
