@value colors: "../colors.module.css";
@value atmaBlue, borderGray, atmaYellow from colors;
/* 
.sider {
  background-color: atmaBlue;
}

.menu {
  border: 1px solid atmaBlue;
} */
.sider {
  overflow-y: scroll;
}

.sider::-webkit-scrollbar {
  display: none;
}

.logo {
  height: 64px;
  color: atmaBlue;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
}

.logoImg {
  height: 40px;
  width: auto;
  margin-right: 16px;
}

.header {
  background-color: white;
}

.content {
  padding: 24px 64px;
}
